* {
	box-sizing: border-box !important;
}
.content {
	padding: 10px !important;
	display: table !important;
	width: 100% !important;
	min-height: 120px !important;
	margin-top: 10px !important;
	border: 1px !important;
	 border-color: #C8C8C8 !important;
    border-style: solid !important;
    border-radius: 13px !important;
}