<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets" template="template.xhtml">

	<ui:define name="content">
		<h:form>
			<p:messages id="messages" showDetail="true" autoUpdate="true"
				closable="true" />
			<p:panel id="basic" header="Item details" style="margin-bottom:20px">
				<h:panelGrid id="grid" columns="3" cellpadding="5">

					<h:outputLabel for="itemName" value="Item name"></h:outputLabel>
					<h:inputText id="itemName" value="#{addItemPage.newItem.name}" required="true"
						requiredMessage="Item name is required"
					 	validatorMessage="Item name must be between 2 and 40 characters">
						<f:validateLength minimum="2" maximum="40"></f:validateLength>
						<f:validateRequired />
					</h:inputText>
					<p:message for="itemName" />

					<h:outputLabel for="itemPrice" value="Price, EUR"></h:outputLabel>
					<h:inputText id="itemPrice" value="#{addItemPage.newItem.price}" required="true"
								 requiredMessage="Item price is required"
								 converterMessage="Please enter only numbers">
						<f:convertNumber groupingUsed="true" maxFractionDigits="2"/>
						<f:validateRequired />
					</h:inputText>
					<p:message for="itemPrice" />

					<h:outputLabel for="itemUnits" value="Units of measure"></h:outputLabel>
					<h:inputText id="itemUnits" value="#{addItemPage.newItem.units}" required="true"
						 validatorMessage="Units of measure must be between 1 and 10 characters">
						<f:validateLength minimum="2" maximum="10"></f:validateLength>
						<f:validateRequired />
					</h:inputText>
					<p:message for="itemUnits" />

					<h:outputLabel for="itemQuantity" value="Quantity"></h:outputLabel>
					<h:inputText id="itemQuantity" value="#{addItemPage.newItem.quantity}" required="true"
						requiredMessage="Item price is required"
						converterMessage="Please enter only numbers">
						<f:convertNumber groupingUsed="true" maxFractionDigits="2"/>
					</h:inputText>
					<p:message for="itemQuantity" />
				</h:panelGrid>

				<p:commandLink value="&#9664; Back"
							   onclick="history.go(-1);return false;" />
				<h:commandButton action="#{addItemPage.addNew}" value="Add new"></h:commandButton>

			</p:panel>
		</h:form>

	</ui:define>

	<ui:define name="pageName">
 	 	Add new Item
 	 </ui:define>

</ui:composition>
