<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets" template="template.xhtml">

    <ui:define name="content">
        <h:form>
            <p:messages id="messages" showDetail="true" autoUpdate="true"
                        closable="true" />
            <p:panel id="basic" header="Coupon details" style="margin-bottom:20px">


                <p:dataTable value="#{couponListPageData.currentCoupon.items}" var="item">
                    <f:facet name="header">
                        <h:outputText value="#{couponListPageData.currentCoupon.id} (#{couponListPageData.currentCoupon.date})" />
                    </f:facet>

                    <p:column headerText="Id">
                        <h:outputText value="#{item.id}" />
                    </p:column>

                    <p:column headerText="Item name">
                        <h:outputText value="#{item.name}" />
                    </p:column>

                    <p:column headerText="Quantity">
                        <h:outputText value="#{item.quantity}" />
                    </p:column>

                    <p:column headerText="Price">
                        <h:outputText value="#{item.price}" />
                    </p:column>

                    <p:column headerText="Units">
                        <h:outputText value="#{item.units}" />
                    </p:column>

                </p:dataTable>
                <p:commandLink value="&#9664; Back"
                               onclick="history.go(-1);return false;" />
            </p:panel>
            <h:graphicImage value="images/moliugas-perlaikymas.jpg" />

        </h:form>

    </ui:define>

    <ui:define name="pageName">
        Add new Item
    </ui:define>

</ui:composition>
