<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets" template="template.xhtml">

	<ui:define name="content">
		<h:form>
			<p:messages id="messages" showDetail="false" autoUpdate="true"
				closable="true" />

			<p:dataTable value="#{couponListPage.couponList}" var="coupon">
				<p:column headerText="Id">
					<h:outputText value="#{coupon.id}" />
				</p:column>

				<p:column headerText="Date">
					<h:outputText value="#{coupon.date}" />
				</p:column>

				<p:column headerText="Buyer">
					<h:outputText value="#{coupon.buyer}" />
				</p:column>

				<p:column headerText="Seller">
					<h:outputText value="#{coupon.seller}" />
				</p:column>

				<p:column headerText="">
					<h:commandButton value="Add Item"
						action="#{couponListPage.showAddItemPage(coupon)}" />
					<br/>
					<h:commandButton value="View Coupon"
									 action="#{couponListPage.viewCoupon}" />
					<br/>
					<h:commandButton value="Edit Coupon"
									 action="#{couponListPage.editCoupon}" />
					<h:commandButton value="Delete Coupon"
									 action="#{couponListPage.deleteSelected(coupon)}" />
				</p:column>
			</p:dataTable>

		</h:form>
		<h:form>
			<p:panel id="basic" header="Coupon" style="margin-bottom:20px">
				<h:panelGrid id="grid" columns="3" cellpadding="5">
					<h:outputLabel for="couponBuyer" value="Buyer"></h:outputLabel>
					<h:inputText id="couponBuyer" value="#{couponListPageData.newCoupon.buyer}" required="true"
						validatorMessage="Buyer name must be between 2 and 40 characters">
						<f:validateLength minimum="2" maximum="40"></f:validateLength>
						<f:validateRequired />
					</h:inputText>
					<p:message for="couponBuyer" />

					<h:outputLabel for="couponSeller" value="Seller"></h:outputLabel>
					<h:inputText id="couponSeller" value="#{couponListPageData.newCoupon.seller}"
								 validatorMessage="Seller name must be between 2 and 40 characters">
						<f:validateLength minimum="2" maximum="40"></f:validateLength>
						<f:validateRequired />
					</h:inputText>
					<p:message for="couponSeller" display="icon" />

					<h:outputLabel for="couponDate" value="Date"></h:outputLabel>
					<p:calendar id="couponDate" value="#{couponListPageData.newCoupon.date}"
								converterMessage="Use format YYYY-MM-DD"
								pattern="yyyy-MM-dd" required="true"
								requiredMessage="Date is required">
						<f:validateRequired />
					</p:calendar>
					<p:message for="couponDate" display="icon" />
				</h:panelGrid>

			</p:panel>

			<h:commandButton action="#{couponListPage.addNew}" value="Add new"
				update="grid"></h:commandButton>
		</h:form>

	</ui:define>

	<ui:define name="pageName">
 	 	Coupons list
 	 </ui:define>

</ui:composition>
