<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets" template="template.xhtml">

    <ui:define name="content">
        <h:form>
            <p:panel id="basic" header="Coupon" style="margin-bottom:20px">

                <p:dataTable>
                <h:panelGrid id="grid" cellpadding="5">
                    <p:row>
                        <p:column>
                            <h:outputLabel for="couponDate" value="Coupon date "></h:outputLabel>
                        </p:column>
                        <p:column>
                            <p:calendar id="couponDate" value="#{couponListPageData.currentCoupon.date}"
                                        converterMessage="Use format YYYY-MM-DD"
                                        pattern="yyyy-MM-dd" required="true"
                                        requiredMessage="Date is required">
                                <f:validateBean />
                            </p:calendar>
                        </p:column>
                        <p:column>
                            <p:message for="couponDate" />
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column>
                            <h:outputLabel for="couponBuyer" value="Buyer "></h:outputLabel>
                        </p:column>
                        <p:column>
                            <h:inputText id="couponBuyer"
                                         value="#{couponListPageData.newCoupon.buyer}"></h:inputText>
                        </p:column>
                        <p:column>
                            <p:message for="couponBuyer" display="icon" />
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column>
                            <h:outputLabel for="couponSeller" value="Seller "></h:outputLabel>
                        </p:column>
                        <p:column>
                            <h:inputText id="couponSeller"
                                         value="#{couponListPageData.newCoupon.seller}"></h:inputText>
                        </p:column>
                        <p:column>
                            <p:message for="couponSeller" display="icon" />
                        </p:column>
                    </p:row>
                </h:panelGrid>
                </p:dataTable>

            </p:panel>

            <h:commandButton action="#{couponListPage.addNew}" value="Save"
                             update="grid"></h:commandButton>
        </h:form>

    </ui:define>

    <ui:define name="pageName">
        Edit coupon
    </ui:define>

</ui:composition>
