<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Coupons management system - <ui:insert name="pageName">
  	</ui:insert>
	</title>
	<h:outputStylesheet name="css/moliugas-perlaikymas.css"></h:outputStylesheet>
</h:head>
<h:body>
	<div id="container">
		<h:form>
			<p:tabMenu>
				<p:menuitem value="Coupons" outcome="coupon-list"
					icon="ui-icon-star">
				</p:menuitem>
			</p:tabMenu>
		</h:form>
		<div id="contents">
			<ui:insert name="content">
		  		No content
		  	</ui:insert>
		</div>
	</div>
</h:body>
</html>
